<?xml version="1.0" ?>
<config>
    <modules>
        <Shipping_Takeplace>
            <version>0.0.1</version>
        </Shipping_Takeplace>
    </modules>
    <admin>
        <routers>
            <shippingtakeplace_admin>
                <use>admin</use>
                <args>
                    <module>Shipping_Takeplace</module>
                    <frontName>shippingtakeplace_admin</frontName>
                </args>
            </shippingtakeplace_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <shippingtakeplace module="shippingtakeplace">
                <title>Pick up place</title>
                <sort_order>77</sort_order>
                <action>shippingtakeplace_admin/adminhtml_takeplace</action>
            </shippingtakeplace>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <shippingtakeplace> 
                    <file>shipping_takeplace.xml</file>
                </shippingtakeplace>
            </updates>
        </layout>
        <routers>
            <shippingtakeplace>
                <use>standard</use>
                <args>
                    <module>Shipping_Takeplace</module>
                    <frontName>takeplace</frontName>
                </args>
            </shippingtakeplace>
        </routers>
    </frontend>
    <global>
        <blocks>
            <shippingtakeplace>
                <class>Shipping_Takeplace_Block</class>
            </shippingtakeplace>
        </blocks>
        <helpers>
            <shippingtakeplace>
                <class>Shipping_Takeplace_Helper</class>
            </shippingtakeplace>
        </helpers>
        <models>
            <shippingtakeplace>
                <class>Shipping_Takeplace_Model</class>
                <resourceModel>shippingtakeplace_resource</resourceModel>
            </shippingtakeplace>
            <shippingtakeplace_resource>
                <class>Shipping_Takeplace_Model_Resource</class>
                <entities>
                    <table_takeplace>
                        <table>Shipping_Takeplace_entities</table>
                    </table_takeplace>
                </entities>
            </shippingtakeplace_resource>
        </models>
        <resources>
            <shippingtakeplace_setup>
                <setup>
                    <module>Shipping_Takeplace</module>
                </setup>
            </shippingtakeplace_setup>
        </resources>
    </global>
</config>